<div>
  <div>
    <h1>
      List of all destinations
    </h1>
  </div>
</div>

<hr>

<hr>
<div>
  <div>
    <table>
      <tr>

        <th>
          Location
        </th>

        <th>
          Climate
        </th>

        <th>
          Geography
        </th>

        <th>
          More Info
        </th>
      </tr>

      <% @list_of_spots.each do |a_spot| %>
      <tr>

        <td>
          <%= a_spot.location %>
        </td>

        <td>
          <%= a_spot.climate %>
        </td>

        <td>
          <%= a_spot.geography %>
        </td>

        <td>
          <a href="/spots/<%= a_spot.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
