<div>
  <div>
    <h1>
      <%= @the_spot.location %> details
    </h1>

    <div>
      <div>
        <a href="/spots">
          Go back
        </a>
      </div>

    </div>

    <dl>


 

      <dt>
        Trails
      </dt>
      <% @trails.each do |trail|%>
      <dd>
        <%= trail.name %>
        <a href="<%= trail.link %>">
          External Link
        </a>
      
      </dd>
      <%end%>
      
      <dt>
        Image
      </dt>
      <dd>
        <img src="<%= @photos.first.image %>" alt="probably somewhere beautiful" width="750" height="750">
      </dd>
       
    </dl>
  </div>
</div>

