<div>
  <p>
  Your criteria match: 
  </p>
  <% @recc1.each do |location| %>
    <p>
    <%= location.location %>
    <a href="/spots/<%= location.id %>">
      Link
    </a>
    </p>
  <%end%>
</div>



<div>
  <%= @failure %>
</div>

